*{box-sizing: border-box;}
body {
    font-family: sans-serif;
    color: white;
    background-color: darkblue;
}
main {
    margin: 0 auto;
    max-width: 950px;
    height: 100vh;
    background-color: aliceblue;
}
.container {
    display: flex;
    background-color: aquamarine;
}
.item {
    background-color: cadetblue;
    width: 100px;
    height: 100px;
text-align: center;
padding: 34px;
border: 2px solid;
}