
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: cadetblue;
    font-family: monospace;
    
}
h1 {
    color: aliceblue;
}
.container {
    display: flex;
    background-color: darkgrey;
}
.item {
    flex-grow: 0; /* Factor por default */
    flex-grow: 1; /* Factor de crecimiento */
    background-color: floralwhite;
    border: 1px solid rgb(91, 53, 31);
}
.item-1 {
flex-grow: 0;
}
.item-2 {
flex-grow: 1;
}
.item-3 {
flex-grow: 2;
}
.item-4 {
flex-grow: 3;
}